# Data Manipulation of LEGO Dataset

## Overview

In this project we will load the various tables from the [Rebrickable](https://rebrickable.com/) website and perform analysis on the data.  Rebrickable is a fantastic website that is used to show which LEGO sets we can build from the sets and parts we already own.  They will even show which parts we are missing to complete the new set and suggest sets that we could purchase to get those parts.  

## Data

The data has been downloaded directly from their website. 


Let's start out by importing some standard imports.

In [1]:
# common imports
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

## Import Data

Load the various Lego datasets below calling them the same as the name of the table as seen in the schema from the site.

In [2]:
# import Lego data sets here
inventories = pd.read_csv('inventories.csv')
inventory_sets = pd.read_csv('inventory_sets.csv')
sets = pd.read_csv('sets.csv')
themes = pd.read_csv('themes.csv')
inventory_minifigs = pd.read_csv('inventory_minifigs.csv')
minifigs = pd.read_csv('minifigs.csv')
inventory_parts = pd.read_csv('inventory_parts.csv')
part_categories = pd.read_csv('part_categories.csv')
parts = pd.read_csv('parts.csv')
colors = pd.read_csv('colors.csv')
part_relationships = pd.read_csv('part_relationships.csv')
elements = pd.read_csv('elements.csv')

## Exploration

Take time to look at all of the data sets using `.head()`, `.info()`, `.describe()`, etc to familiarize with the data sets.

In [3]:
themes.head()

   id            name  parent_id
0   1         Technic        NaN
1   3     Competition        1.0
2   4  Expert Builder        1.0
3  16      RoboRiders        1.0
4  17  Speed Slammers        1.0

In [4]:
themes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 444 entries, 0 to 443
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         444 non-null    int64
 1   name       444 non-null    object
 2   parent_id  306 non-null    float64
dtypes: float64(1), int64(1), object(1)
memory usage: 10.5+ KB

In [5]:
themes.describe()

               id   parent_id
count  444.000000  306.000000
mean   410.659910  346.516340
std    208.165803  198.728717
min      1.000000    1.000000
25%    229.750000  186.000000
50%    438.500000  409.500000
75%    597.250000  507.000000
max    719.000000  697.000000

**Q1:** Create a function called `data_count` that takes as input the data set (for example: `sets`) and returns the total number of rows in the data (as an integer).  Nothing else should be returned.

In [6]:
def data_count(df):
    return len(df.index)

In [7]:
data_count(sets)

18576

**Q2:** What is the average number of parts for a Lego set (rounded to the nearest integer)?

In [8]:
Q2 = np.round(sets['num_parts'].mean()).astype('int')
Q2

161

**Q3:** What is the median number of parts per set (output as an integer)?

In [9]:
Q3 = np.round(sets['num_parts'].median()).astype('int')
Q3

37

We should see that the median number of parts is much lower than the average number of parts per set.  This tells us that there are some Lego sets with a very high number of parts that brings the average up.

**Q4:** What is the largest number of parts that a set has?

In [10]:
Q4 = sets['num_parts'].max()
Q4

11695

**Q5:** Given the set with the largest number of parts calculated above, select its row from the `sets` DataFrame.

In [11]:
Q5 = sets[sets['num_parts'] == Q4]
Q5

      set_num       name  year  theme_id  num_parts
3867  31203-1  World Map  2021       709      11695

**Q6:** Create a function called `select_set_row` where we pass it the `set_num` (as a string) and the function returns the respective row of the DataFrame from `sets`. Do not reset the index.

In [12]:
def select_set_row(set_num):
    return sets[sets['set_num'] == set_num]

**Q7:** Create a function called `select_set_numparts` that takes as input a specific number of parts (as an integer) and selects all the rows in the `sets` DataFrame that contain those number of parts.  Return the DataFrame sorted by `year` and then by `set_num`.  Do not reset the index.

In [13]:
def select_set_numparts(num_parts):
    return sets[sets['num_parts'] == num_parts].sort_values(by=['year', 'set_num'])

In [14]:
select_set_numparts(0)

,set_num,name,year,theme_id,num_parts
11061,700.1-2,Extra-Large Gift Set (Mursten),1953,366,0
17563,b55dk-01,Lego Mursten - System i Leg Byggebog,1955,497,0
17564,b56de-01,System im Spiel,1956,497,0
11072,700.2-2,Gift Package,1957,366,0
11078,700.3A-2,Gift Package,1957,372,0
...,...,...,...,...,...
15619,854195-1,Ernie Key Chain,2022,503,0
15620,854197-1,Demogorgon Key Chain,2022,503,0
17170,9780744054583-1,DC Comics Super Heroes: Character Encyclopedia...,2022,497,0
17193,9780794447557-1,City: Color The City,2022,497,0
17200,9780794448172-1,DC Comics Super Heroes: Ready For Action,2022,497,0

**Q8:** 
- The oldest set listed was made in what year?  
- The newest set listed was made in what year?

In [15]:
Q8A = sets['year'].sort_values().iloc[0]
Q8A

1949

In [16]:
Q8B = sets['year'].sort_values().iloc[-1]
Q8B

2022

**Q9:** 
- Create a function called `select_set_year` that takes as input a year (as an integer) and returns the rows from the `sets` DataFrame that matches that year.  Sort the DataFrame by `set_num`.  Do not reset the index.
- Use the above function to return a DataFrame for rows that match the minimum year.
- Then use the above function to return a DataFrame for rows that match the maximum year.

In [17]:
def select_set_year(year):
    return sets[sets['year'] == year].sort_values(by='set_num')

In [18]:
Q9A = select_set_year(Q8A)
Q9A

       set_num                               name  year  theme_id  num_parts
11057  700.1-1         Extra-Large Gift Set (ABB)  1949       365        142
11070  700.2-1               Large Gift Set (ABB)  1949       365        178
11075  700.3-1              Medium Gift Set (ABB)  1949       365        142
11080  700.A-1              Small Brick Set (ABB)  1949       371         24
11081  700.B-1  Small Doors and Windows Set (ABB)  1949       371         12

In [19]:
Q9B = select_set_year(Q8B)
Q9B

,set_num,name,year,theme_id,num_parts
336,10297-1,Boutique Hotel,2022,155,3068
600,10781-1,Spider-Man’s Techno Trike,2022,706,59
601,10782-1,Hulk vs. Rhino Truck Showdown,2022,706,110
602,10783-1,Spider-Man at Doc Ock’s Lab,2022,706,131
603,10784-1,Spider-Man Webquarters Hangout,2022,706,155
...,...,...,...,...,...
17170,9780744054583-1,DC Comics Super Heroes: Character Encyclopedia...,2022,497,0
17193,9780794447557-1,City: Color The City,2022,497,0
17200,9780794448172-1,DC Comics Super Heroes: Ready For Action,2022,497,0
17207,9780794449247-1,DC Comics Super Heroes: Gotham City’s New Defe...,2022,497,7
17726,DOTS-SERIES-6,DOTS Collectible Tiles Series 6,2022,688,16

**Q10:** What is the median year represented in the `sets` data?

In [20]:
Q10 = np.round(sets['year'].median()).astype('int')
Q10

2010

Notice that the first set was back in 1949 but over half of the sets were after the median year. This could be an indication that the number of sets has increased greatly over the past number of years.

**Q11:** What is the average number of sets listed per year?

In [21]:
Q11 = np.round(sets['year'].value_counts().mean()).astype('int')
Q11

258

**Q12:** What year had the lowest total number of sets?

In [22]:
Q12 = sets['year'].value_counts().idxmin()
Q12

1960

**Q13:** What year had the highest total number of sets?

In [23]:
Q13 = sets['year'].value_counts().idxmax()
Q13

2021

**Q14:** 
- Create a function called `theme_by_year` that takes as input a year (as an integer) and shows the theme ids and theme names (listed in order by theme id) that were in sets that year.  
- The column names must be `id` and `name_themes` (to differentiate between the name of a theme and the name of a set) in that order.  
- The index should be reset and go from `0` to `n-1`.  
- Each theme should only be listed once even if it appeared in more than one set from that year -- duplicate themes should be based on theme id and not name since there are some themes with the same name but with a different id.

In [24]:
df_sets_themes = sets.merge(themes, how='left', left_on='theme_id', right_on='id', suffixes=('_sets', '_themes'))

def theme_by_year(year):
    sets_themes_byYear = df_sets_themes[df_sets_themes['year'] == year]
    sets_themes_byYear = sets_themes_byYear[['id', 'name_themes']].drop_duplicates().sort_values(by='id', 
                                                                                              ignore_index=True)
    return sets_themes_byYear

In [25]:
theme_by_year(Q12)

    id   name_themes
0  371  Supplemental
1  497         Books
2  513       Classic

**Q15:** What theme has the most number of sets associated with it?

In [27]:
df_themes_sets = sets.merge(themes, how='right', left_on='theme_id', right_on='id', suffixes=('_sets', '_themes'))
themes_sets = df_themes_sets[['id','name_themes']]
Q15 = themes_sets.value_counts().idxmax()[1]
Q15

'Gear'

**Q16:** 
- Create a function called `theme_by_name` that takes as input a theme name and outputs all the sets (in `set_num` order) that had that theme.  
- The DataFrame should include the following columns in this order and with these exact names: `set_num`,`name_sets`,`year`,`num_parts`, `theme_id`, and `name_themes`.  
- The index should go from `0` to `n-1`.

In [28]:
def theme_by_name(theme):
    themes_sets_byTheme = df_themes_sets[df_themes_sets['name_themes'] == theme]
    cols = ['set_num', 'name_sets', 'year', 'num_parts', 'theme_id', 'name_themes']
    themes_sets_byTheme = themes_sets_byTheme[cols].sort_values(by='set_num', ignore_index=True)
    return themes_sets_byTheme.astype(int, errors='ignore')

In [29]:
theme_by_name(Q15)

,set_num,name_sets,year,num_parts,theme_id,name_themes
0,11138-1,Bionicle Barraki Wallet,2008,0,501,Gear
1,119645111436-1,Classic Space Astronaut Plush (Red),2021,0,501,Gear
2,119645111504-1,Classic Space Astronaut Plush (Blue),2021,0,501,Gear
3,119645111740-1,Classic Space Astronaut Plush (White),2021,0,501,Gear
4,119645111818-1,Classic Space Astronaut Plush (Pink),2021,0,501,Gear
...,...,...,...,...,...,...
1899,WATCH-3,Watch System Voyager (UFO Space),1997,29,501,Gear
1900,WIIGAME-1,Bionicle Heroes - Wii,2007,0,501,Gear
1901,WIIGAME-2,Indiana Jones: The Original Adventures Video G...,2008,0,501,Gear
1902,WOODENELEPHANT-1,Original Wooden Elephant Pull-Along Toy and Print,2021,0,501,Gear
1903,ZX8000-1,ZX 8000 LEGO Sneaker,2020,0,501,Gear

**Q17:** What themes have the most sets associated with them?  Output the top 5 themes as a Series with the theme name as the index and the number of sets that the theme appears in as the values.  The Series should be sorted in descending order.

In [30]:
Q17 = df_themes_sets['name_themes'].value_counts()[:5]
Q17

Gear         1904
Star Wars     825
Technic       693
Key Chain     583
Friends       482
Name: name_themes, dtype: int64

**Q18:** Create a function called `theme_by_setnum` that takes as input the set_num (as a string) and returns the respective theme name as a string.

In [31]:
def theme_by_setnum(set_num):
    return df_sets_themes.loc[df_sets_themes['set_num'] == set_num, 'name_themes'].iloc[0]

In [32]:
theme_by_setnum('75043-1')

'Star Wars'

**Q19:** Find all the sets named 'Millennium Falcon'. Of these sets, find the set with the largest number of parts.

In [33]:
sets[sets['name'] == 'Millennium Falcon'].sort_values(by='num_parts', ascending=False).iloc[0]

set_num                75192-1
name         Millennium Falcon
year                      2017
theme_id                   171
num_parts                 7541
Name: 12884, dtype: object

**Q20:** 
- How many minifigs are contained in the set from `Q19`?

In [34]:
df_invfigs_inv = inventories.merge(inventory_minifigs, how='right', left_on='id', right_on='inventory_id')
Q20 = df_invfigs_inv.loc[df_invfigs_inv['set_num'] == '75192-1', 'quantity'].sum()
Q20

8

**Q21:** 
- Create a function called `get_minifigs` that takes as input a set number (as a string) and a version number (as an integer) and outputs all minifigs from that set / version combination.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `set_num`, `fig_num`, `fig_name`, `fig_num_parts`.  
- The index should go from 0 to n-1.

In [36]:
df_figs_inv = minifigs.merge(df_invfigs_inv, on='fig_num').rename(columns=
                                                                  {'name':'fig_name', 
                                                                   'num_parts':'fig_num_parts'})

def get_minifigs(set_num, version):
    figs_inv_bySet = df_figs_inv[(df_figs_inv['set_num'] == set_num) & (df_figs_inv['version'] == version)]
    figs_inv_bySet = figs_inv_bySet[['set_num', 'fig_num', 'fig_name', 'fig_num_parts']]
    return figs_inv_bySet.sort_values(by='fig_num', ignore_index=True)

**Q22:** Using the above function, output information about the minifigs from the set discussed in `Q19`.

In [37]:
Q22 = get_minifigs(set_num='75192-1', version=1)
Q22

,set_num,fig_num,fig_name,fig_num_parts
0,75192-1,fig-001714,"Chewbacca, Dark Brown",3
1,75192-1,fig-001810,"Finn, Black Undershirt",4
2,75192-1,fig-002057,"Rey, Dark Tan Robe",4
3,75192-1,fig-002514,"C-3PO, Pearl Gold, Colorful Wires, Printed Legs",3
4,75192-1,fig-002544,BB-8,2
5,75192-1,fig-002549,"Princess Leia, Hoth Outfit, White Jacket, Prin...",4
6,75192-1,fig-002550,"Han Solo, Dark Blue Jacket, Dark Brown Legs, P...",4
7,75192-1,fig-002551,"Han Solo, Old, Angry",4

In [38]:
# get_minifigs('10217-1', 1)
get_minifigs('10217-1', 2)

,set_num,fig_num,fig_name,fig_num_parts
0,10217-1,fig-002229,Skeleton (Standard) (3626b Head),6
1,10217-1,fig-006075,"Rubeus Hagrid, Dark Brown Overcoat",3
2,10217-1,fig-006084,"Lucius Malfoy, Black Robes and Cape, Death Eat...",5
3,10217-1,fig-006130,"Harry Potter, Open Dark Blue Jacket over White...",4
4,10217-1,fig-006138,Fenrir Greyback,4
5,10217-1,fig-006162,"Ron Weasley, Red Tartan Sweater Vest, Reddish ...",4
6,10217-1,fig-006163,Fred / George Weasley in Dark Orange Suit,4
7,10217-1,fig-006164,Garrick Ollivander,4
8,10217-1,fig-006165,"Goblin, Black Jacket and Light Bluish Gray Legs",3
9,10217-1,fig-006166,"Goblin, Black Jacket and Reddish Brown Legs",3
10,10217-1,fig-006167,"Hermione Granger, Light Bluish Gray Sweater wi...",4

**Q23:** 
- Create a function called `minifigs_from_themes` that takes as input a theme id (as an integer) and outputs all the minifigs contained in sets with that theme.  
- The DataFrame should be in `fig_num` order with the following columns/column names: `fig_num`, `fig_name`. 
- The index should go from 0 to n-1.  
- Exact duplicates should be removed so that only unique figs are included.

In [41]:
df_setsThemes_figsInv = df_sets_themes.merge(df_figs_inv, on='set_num').rename(columns={'name':'name_sets'})

def minifigs_from_themes(theme_id):
    setsThemes_figsInv_byTheme = df_setsThemes_figsInv[df_setsThemes_figsInv['theme_id'] == theme_id]
    setsThemes_figsInv_byTheme = setsThemes_figsInv_byTheme[['fig_num', 'fig_name']]
    return setsThemes_figsInv_byTheme.drop_duplicates().sort_values(by='fig_num', ignore_index=True)

In [42]:
minifigs_from_themes(171)

        fig_num                                           fig_name
0    fig-000003                              Assassin Droid, White
1    fig-000124                           Chewbacca, Reddish Brown
2    fig-000144  Luke Skywalker, White Robe, White Legs, Cheek ...
3    fig-000303           Clone Trooper, Phase I Armor, Brown Eyes
4    fig-000516  Darth Vader, Light Bluish Gray Skin, Scarred R...
..          ...                                                ...
144  fig-011942  AT-AT Driver - Light Bluish Grey Helmet, Sand ...
145  fig-011944  Snowtrooper, White Hips, Reddish Brown Head, F...
146  fig-011945  Snowtrooper, White Hips, Light Flesh Head, Female
147  fig-011946  Snowtrooper, White Hips, Light Flesh Head, Off...
148  fig-011957    Snowtrooper, White Hips, Light Flesh Head, Grin

[149 rows x 2 columns]

**Q24:** 
- Create a function called `sets_from_minifig` that takes as input a minifig number (as a string) and returns a list of sets a minifig has appeared in.  
- Return a DataFrame (sorted by `set_num` and then by `version`) with the following columns: `set_num`, `version`,`name_sets`, `fig_num`, `fig_name`.  
- The index should go from 0 to n-1.

In [45]:
def sets_from_minifig(fig_num):
    setsThemes_figsInv_byFig = df_setsThemes_figsInv[df_setsThemes_figsInv['fig_num'] == fig_num]
    setsThemes_figsInv_byFig = setsThemes_figsInv_byFig[['set_num', 'version', 'name_sets', 'fig_num', 'fig_name']]
    return setsThemes_figsInv_byFig.sort_values(by=['set_num', 'version'], ignore_index=True)

In [46]:
sets_from_minifig('fig-001039')

,set_num,version,name_sets,fig_num,fig_name
0,30100-1,1,Andrea on the Beach,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."
1,30107-1,1,Birthday Party,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."
2,3061-1,1,City Park Café,fig-001039,"Andrea - Bright Light Orange Top, Light Aqua S..."

**Q25:** 
- Create a function called `set_parts` that takes as input the set number (as a string) and version number (as an integer) and outputs a DataFrame with each part in the set.  
- The DataFrame should have the following columns/column names: `set_num`, `version`, `name_sets`, `year`, `name_themes`, `part_num`, `name_part`, `name_color`,`quantity`,`is_spare`.  
- The Data should be sorted by `part_num` and then `name_color`.  
- The index should go from 0 to n-1.

In [48]:
df_setsThemes_inv = df_sets_themes.merge(inventories, on='set_num').rename(columns={'id_y':'inventory_id'})

df_parts_inv = parts.merge(inventory_parts, on='part_num').rename(columns={'name':'name_part'})
df_partsInv_colors = df_parts_inv.merge(colors, how='left', left_on='color_id', right_on='id')\
                                 .rename(columns={'name':'name_color'})

df_setsThemes_partsColors = df_setsThemes_inv.merge(df_partsInv_colors, on='inventory_id')

def set_parts(set_num, version):
    
    setsThemes_partsColors_bySet = df_setsThemes_partsColors[(df_setsThemes_partsColors['set_num'] == set_num) & \
                                                        (df_setsThemes_partsColors['version'] == version)]
    
    setsThemes_partsColors_bySet = setsThemes_partsColors_bySet[['set_num', 'version', 'name_sets', 'year',
                                                                 'name_themes', 'part_num', 'name_part', 
                                                                 'name_color', 'quantity', 'is_spare']]
    
    return setsThemes_partsColors_bySet.sort_values(by=['part_num', 'name_color'], ignore_index=True)

In [52]:
set_parts('75192-1', 1)

,set_num,version,name_sets,year,name_themes,part_num,name_part,name_color,quantity,is_spare
0,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10197,Technic Pin Connector Hub with 2 Perpendicular...,Dark Bluish Gray,3,f
1,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10201,Bracket 1 x 2 - 1 x 4 [Rounded Corners],Light Bluish Gray,12,f
2,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10247,Plate Special 2 x 2 with 1 Pin Hole [Complete ...,Dark Bluish Gray,5,f
3,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10247,Plate Special 2 x 2 with 1 Pin Hole [Complete ...,White,22,f
4,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,10314,"Brick Curved 1 x 4 x 1 1/3 No Studs, Curved To...",Tan,3,f
...,...,...,...,...,...,...,...,...,...,...
725,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99563,Tile Special 1 x 2 with Sloped Walls AKA Money...,Light Bluish Gray,70,f
726,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99780,Bracket 1 x 2 - 1 x 2 Inverted,Black,6,f
727,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99780,Bracket 1 x 2 - 1 x 2 Inverted,Dark Bluish Gray,25,f
728,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99781,Bracket 1 x 2 - 1 x 2,Light Bluish Gray,2,f
729,75192-1,1,Millennium Falcon,2017,Ultimate Collector Series,99784,Bar 1 x 12 with 1 x 2 Plate End with Hollow St...,Light Bluish Gray,3,f

  **Q26:**  Get a list of all unique color names, sort by color name, and output as a list.

In [53]:
Q26 = colors['name'].sort_values().unique().tolist()
Q26

['Aqua',
 'Black',
 'Blue',
 'Blue-Violet',
 'Bright Green',
 'Bright Light Blue',
 'Bright Light Orange',
 'Bright Light Yellow',
 'Bright Pink',
 'Brown',
 'Chrome Antique Brass',
 'Chrome Black',
 'Chrome Blue',
 'Chrome Gold',
 'Chrome Green',
 'Chrome Pink',
 'Chrome Silver',
 'Copper',
 'Coral',
 'Dark Azure',
 'Dark Blue',
 'Dark Blue-Violet',
 'Dark Bluish Gray',
 'Dark Brown',
 'Dark Flesh',
 'Dark Gray',
 'Dark Green',
 'Dark Orange',
 'Dark Pink',
 'Dark Purple',
 'Dark Red',
 'Dark Tan',
 'Dark Turquoise',
 'Earth Orange',
 'Fabuland Brown',
 'Fabuland Orange',
 'Flat Dark Gold',
 'Flat Silver',
 'Flesh',
 'Glitter Trans-Clear',
 'Glitter Trans-Dark Pink',
 'Glitter Trans-Light Blue',
 'Glitter Trans-Neon Green',
 'Glitter Trans-Orange',
 'Glitter Trans-Purple',
 'Glow In Dark Opaque',
 'Glow In Dark Trans',
 'Glow in Dark White',
 'Green',
 'Lavender',
 'Light Aqua',
 'Light Blue',
 'Light Bluish Gray',
 'Light Flesh',
 'Light Gray',
 'Light Green',
 'Light Lime',
 'Light Orange',
 'Light Pink',
 'Light Purple',
 'Light Salmon',
 'Light Turquoise',
 'Light Violet',
 'Light Yellow',
 'Lime',
 'Maersk Blue',
 'Magenta',
 'Medium Azure',
 'Medium Blue',
 'Medium Dark Flesh',
 'Medium Dark Pink',
 'Medium Green',
 'Medium Lavender',
 'Medium Lime',
 'Medium Orange',
 'Medium Violet',
 'Metal Blue',
 'Metallic Gold',
 'Metallic Green',
 'Metallic Silver',
 'Milky White',
 'Modulex Aqua Green',
 'Modulex Black',
 'Modulex Brown',
 'Modulex Buff',
 'Modulex Charcoal Gray',
 'Modulex Clear',
 'Modulex Foil Dark Blue',
 'Modulex Foil Dark Gray',
 'Modulex Foil Dark Green',
 'Modulex Foil Light Blue',
 'Modulex Foil Light Gray',
 'Modulex Foil Light Green',
 'Modulex Foil Orange',
 'Modulex Foil Red',
 'Modulex Foil Violet',
 'Modulex Foil Yellow',
 'Modulex Lemon',
 'Modulex Light Bluish Gray',
 'Modulex Light Gray',
 'Modulex Light Orange',
 'Modulex Light Yellow',
 'Modulex Medium Blue',
 'Modulex Ochre Yellow',
 'Modulex Olive Green',
 'Modulex Orange',
 'Modulex Pastel Blue',
 'Modulex Pastel Green',
 'Modulex Pink',
 'Modulex Pink Red',
 'Modulex Red',
 'Modulex Teal Blue',
 'Modulex Terracotta',
 'Modulex Tile Blue',
 'Modulex Tile Brown',
 'Modulex Tile Gray',
 'Modulex Violet',
 'Modulex White',
 'Olive Green',
 'Orange',
 'Pastel Blue',
 'Pearl Dark Gray',
 'Pearl Gold',
 'Pearl Light Gold',
 'Pearl Light Gray',
 'Pearl Very Light Gray',
 'Pearl White',
 'Pink',
 'Purple',
 'Red',
 'Reddish Brown',
 'Reddish Lilac',
 'Royal Blue',
 'Rust',
 'Salmon',
 'Sand Blue',
 'Sand Green',
 'Sand Purple',
 'Sand Red',
 'Sky Blue',
 'Speckle Black-Copper',
 'Speckle Black-Gold',
 'Speckle Black-Silver',
 'Speckle DBGray-Silver',
 'Tan',
 'Trans-Black',
 'Trans-Black IR Lens',
 'Trans-Blue Opal',
 'Trans-Bright Green',
 'Trans-Brown Opal',
 'Trans-Clear',
 'Trans-Clear Opal',
 'Trans-Dark Blue',
 'Trans-Dark Blue Opal',
 'Trans-Dark Pink',
 'Trans-Fire Yellow',
 'Trans-Flame Yellowish Orange',
 'Trans-Green',
 'Trans-Green Opal',
 'Trans-Light Blue',
 'Trans-Light Bright Green',
 'Trans-Light Green',
 'Trans-Light Purple',
 'Trans-Light Royal Blue',
 'Trans-Medium Blue',
 'Trans-Medium Reddish Violet Opal',
 'Trans-Neon Green',
 'Trans-Neon Orange',
 'Trans-Neon Yellow',
 'Trans-Orange',
 'Trans-Pink',
 'Trans-Purple',
 'Trans-Purple Opal',
 'Trans-Red',
 'Trans-Very Lt Blue',
 'Trans-Yellow',
 'Very Light Bluish Gray',
 'Very Light Gray',
 'Very Light Orange',
 'Vibrant Yellow',
 'Vintage Blue',
 'Vintage Green',
 'Vintage Red',
 'Vintage Yellow',
 'Violet',
 'White',
 'Yellow',
 'Yellowish Green',
 '[No Color/Any Color]',
 '[Unknown]']

**Q27:** How many total transparent colors are in the `colors` DataFrame?

In [54]:
Q27 = len(colors[colors['is_trans'] == 't'].index)
Q27

38

**Q28:**  
- Create a function called `get_part_colors` that takes as input a part number (as a string) and returns a DataFrame of all colors a part has appeared in.  
- The output will return the corresponding rows from the `colors` DataFrame for each color.
- The DataFrame should be sorted by color id  
- **Do not reset the index.**

In [56]:
df_parts_elems = parts.merge(elements, on='part_num').rename(columns={'name':'name_part'})
df_partsElems_colors = df_parts_elems.merge(colors, how='left', left_on='color_id', right_on='id')\
                                     .rename(columns={'name':'name_color'})

def get_part_colors(part_num):
    
    partsElems_colors_byPart = df_partsElems_colors[df_partsElems_colors['part_num'] == part_num]\
                                                   .sort_values(by='color_id')
    
    return pd.DataFrame(partsElems_colors_byPart['name_color'])